@import "normalize.css";
    
$xs: 400px;
$sm: 680px;

@mixin inline-va {
    display: inline-block;
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial,Helvetica,sans-serif;
}

.bold {
    font-weight: bold;
}

.block {
    display: block;
}

.sidenav {
    background-color: white;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    left: -100%;
    visibility: hidden;
    &.active {
        left: 0;
        visibility: visible;
    }
    a {
        color: #717070;
        display: block;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: sans-serif;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.3s;
    }
    a:hover {
        color: #f1f1f1;
    }
    .closebtn {
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;

    .desktop-menu {
        display: none;
        vertical-align: middle;
        align-self: center;
        margin-right: 15px;
        
        @media screen and (min-width: $sm) {
            display: inline-block;;
        }
        
        ul.menu {
            display: flex;
            li {
                cursor: pointer;
                margin: 0 10px;
                display: inline-block;
                white-space: nowrap;
                a {
                    color: rgba(15, 76, 133, 1);
                    font-size: 13px;
                    text-transform: uppercase;
                    text-decoration: none;
                    &:hover {
                        color: rgba(12, 97, 177, 0.71);
                        transition: color 0.2s;
                    }
                }
                
            }
        }
    }
    
    .header-text {
        @include inline-va;
        margin: 20px 0 20px 15px;
        max-width: 60%;
        text-transform: uppercase;
        
        img {
            @include inline-va;
        }
        div {
            @include inline-va;
            max-width: 75%;
            @media screen and (min-width: $xs) {
                max-width: 100%;
            }
        }
    }
    
    .menu-wrapper {
        align-self: center;
        margin: 10px 15px 10px 0;
        width: 10%;
        @media screen and (min-width: $sm) {
            display: none;
        }
        .menu-icon {
            border: black 1px solid;
            border-radius: 5px;
            display: inline-block;
            float: right;
            
            .wrapper {
                padding: 10px 14px;
                .bar1, .bar2, .bar3 {
                    width: 23px;
                    height: 4px;
                    background-color: #333;
                    margin: 5px 0;
                    transition: 0.4s;
                }
                &.active {
                    .bar1 {
                        transform: rotate(-45deg) translate(-5px, 6px);
                    }
                    .bar2 {
                        opacity: 0;
                    }
                    .bar3 {
                        transform: rotate(45deg) translate(-6px, -8px);
                    }
                }
                
            }

        }
    } 
}

#hero1 {
    .container {
        background-image: url('../img/hero1img.webp');
        height: 400px;
        background-position: center;
        background-size: cover;
        padding-top: 1px;
        margin-top: 1px;
        
        .shadow {
            background-color: rgba(0, 48, 91, 0.65);
            color: white;
            width: 95%;
            height: 65%;
            top: 18%;
            float: right;
            position: relative;
            display: flex;
            justify-content: center;
            align-content: center;
            
            @media screen and (min-width: $xs) {
                align-items: center;
            }
            
            @media screen and (min-width: $sm) {
                float: left;
                height: 100%;
                top: 0;
                width: 37%;
                justify-content: center;
            }
            
            .wrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .hero-title {
                    font-size: 2.4em;
                    margin: 0 0 30px 30px;

                    @media screen and(min-width: $xs) {
                        align-self: left;
                    }
                }
                .hero-description {
                    font-size: 18px;
                    margin: 0 10px 0 30px;
                    max-width: 320px;

                    @media screen and(min-width: $xs) {
                        align-self: left;
                    }
                } 
            }

        }
    }
    
}