@import "normalize.css";
$xs: 400px;
$sm: 680px;
$md: 860px;
$lg: 1100px;
$xl: 1300px;
@mixin inline-va {
    display: inline-block;
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}

.block {
    display: block;
}

$leftBlockWidth: 37%;
$leftContentWidth: 320px;
$titleFontSizeXs: 1.8em;
$titleFontSizeSm: 2em;
$titleFontSizeMd: 2.4em;

*[class$="-title"] {
    font-size: $titleFontSizeXs;
    @media screen and (min-width: $xs) {
        font-size: $titleFontSizeXs
    }
    @media screen and (min-width: $sm) {
        font-size: $titleFontSizeSm
    }
    @media screen and (min-width: $md) {
        font-size: $titleFontSizeMd
    }
}

@mixin leftBlock {
    position: relative;
    display: flex;
    justify-content: left;
    align-content: center;
    @media screen and (min-width: $xs) {
        align-items: center;
    }
    @media screen and (min-width: $sm) {
        float: left;
        top: 0;
        width: $leftBlockWidth;
        justify-content: center;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
        width: $leftContentWidth;
    }
}
    
@mixin link {
    color: #00305B;
    margin-bottom: 0;
    text-decoration: none;
    text-transform: none;
}

@mixin parallax {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 1px;
    margin-top: 1px;
    @media screen and (min-width: $md) {
        background-attachment: fixed;
        height: 850px;
    }
}

@mixin heading {
        padding: 60px 25px;
        text-transform: uppercase;
        *[class$="-title"] {
            margin-bottom: 40px;
        }
        @media screen and (min-width: $md) {
            padding: 90px 25px;
            *[class$="-title"] {
                margin-bottom: 90px;
            }
        }
}

.sidenav {
    background-color: white;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    left: -100%;
    visibility: hidden;
    &.active {
        left: 0;
        visibility: visible;
    }
    a {
        color: #717070;
        display: block;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: sans-serif;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.3s;
    }
    a:hover {
        color: #f1f1f1;
    }
    .closebtn {
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    .desktop-menu {
        display: none;
        vertical-align: middle;
        align-self: center;
        margin-right: 15px;
        @media screen and (min-width: $sm) {
            display: inline-block;
        }
        ul.menu {
            display: flex;
            li {
                cursor: pointer;
                margin: 0 10px;
                display: inline-block;
                white-space: nowrap;
                a {
                    color: rgba(15, 76, 133, 1);
                    font-size: 13px;
                    text-transform: uppercase;
                    text-decoration: none;
                    &:hover {
                        color: rgba(12, 97, 177, 0.71);
                        transition: color 0.2s;
                    }
                }
            }
        }
    }
    .header-text {
        @include inline-va;
        margin: 20px 0 20px 15px;
        max-width: 60%;
        text-transform: uppercase;
        img {
            @include inline-va;
        }
        div {
            @include inline-va;
            max-width: 75%;
            @media screen and (min-width: $xs) {
                max-width: 100%;
            }
        }
    }
    .menu-wrapper {
        align-self: center;
        margin: 10px 15px 10px 0;
        width: 10%;
        @media screen and (min-width: $sm) {
            display: none;
        }
        .menu-icon {
            border: black 1px solid;
            border-radius: 5px;
            display: inline-block;
            float: right;
            .wrapper {
                padding: 10px 14px;
                .bar1,
                .bar2,
                .bar3 {
                    width: 23px;
                    height: 4px;
                    background-color: #333;
                    margin: 5px 0;
                    transition: 0.4s;
                }
                &.active {
                    .bar1 {
                        transform: rotate(-45deg) translate(-5px, 6px);
                    }
                    .bar2 {
                        opacity: 0;
                    }
                    .bar3 {
                        transform: rotate(45deg) translate(-6px, -8px);
                    }
                }
            }
        }
    }
}

#hero1 {
    .container {
        @include parallax;
        background-image: url('../img/hero1img.webp');
        height: 400px;
        .shadow {
            @include leftBlock;
            @media screen and (min-width: $sm) {
                height: 100%;
            }
            background-color: rgba(0, 48, 91, 0.65);
            color: white;
            width: 95%;
            height: 65%;
            top: 18%;
            float: right;
            .wrapper {
                @include heading;
                .hero-title {
                    margin-bottom: 30px;
                }
                .hero-description {
                    font-size: 18px;
                    margin: 0 10px 0 0;
                    text-transform: none;
                }
            }
        }
    }
}

#practice {
    .container {
        color: #00305B;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $sm) {
            flex-direction: row;
        }
        
        .practice-title {
            @include leftBlock;
            @include heading;
            background-color: rgba(234, 244, 246, 1);
            padding: 0 25px;
            @media screen and (min-width: $sm) {
                width: $leftBlockWidth;
                justify-content: center;
            }
            .wrapper {
                height: 150px;
                margin-left: 10%;
                @media screen and (min-width: $sm) {
                    margin-left: 5%;
                }
            }
        }
        .list {
            display: flex;
            flex-direction: column;
            @media screen and (min-width: $sm) {
                flex-basis: 60%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .list-item {
                display: flex;
                align-items: baseline;
                justify-content: flex-start;
                margin: 1em 3% 1em 10%;
                .bullet-wrapper {
                    margin-right: 15px;
                }
                .bullet {
                    background-color: rgb(65, 183, 196);
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                }
                h3 {
                    display: inline-block;
                    margin-bottom: 20px;
                }
                @media screen and (min-width: $xs) {
                    max-width: 310px;
                }
                @media screen and (min-width: $sm) {
                    margin: 1em 2% 1em 2%;
                    max-width: 40%;
                    width: 40%;
                }
            }
        }
    }
}

#vision {
    background-color: rgb(0, 48, 91);
    .wrapper {
        @include heading;
        color: white;
        text-align: center;
        .text {
            line-height: 1.5em;
            text-transform: none;
        }
    }
}

#team {
    @include parallax;
    background-image: url(../img/hero2img.webp);
    height: 400px;
    @media screen and (min-width: $md) {
        height: 650px;
    }
}

#attorneys {
    background-color: rgba(234, 244, 246, 1);
    .wrapper {
        @include heading;
        text-align: center;
        .attorneys-title {
            color: #00305B;
            white-space: nowrap;
        }
        .card-wrapper {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            @media screen and (min-width: $sm) {
                flex-direction: row;
            }
            .card {
                margin-bottom: 45px;
                width: 70%;
                @media screen and (min-width: $xs) {
                    width: 60%;
                }
                @media screen and (min-width: $sm) {
                    margin-bottom: 0;
                    max-width: 33%;
                }
                @media screen and (min-width: $md) {
                    max-width: 28%;
                }
                * {
                    margin-bottom: 10px;
                }
                img {
                    width: 100%;
                    @media screen and (min-width: $sm) {
                        width: 70%;
                    }
                }
                hr {
                    margin: 15px 0;
                }
                .name {
                    color: #00305B;
                    font-size: 1.3em;
                }
                .position {
                    color: #377DBD;
                }
                .contacts {
                    a {
                        @include link;
                        display: block;
                    }
                }
                
            }
        }
    }   
}

#contact {
    @include parallax;
    background-image: url('../img/hero3img.webp');
    .container {
        background-color: rgba(0, 78, 148, 0.75);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        & > * {
            margin: 30px 15px;
        }
        @media screen and (min-width: $sm) {
            flex-direction: row;
            ustify-content: start;
            flex-wrap: nowrap;
            height: 850px;
        }
        .shadow {
            @include leftBlock;
            @media screen and (max-width: $xs) {
                height: 100%;
                width: 100%;
            }
            @media screen and (min-width: $sm) {
                float: left;
                top: 0;
                width: $leftBlockWidth;
                justify-content: center;
            }
            background-color: rgba(0, 48, 91, 0.65);
            color: white;
            margin: 0;
            width: 100%;
            .wrapper {
                @include heading;
                padding: 0;
                .contact-title {
                    margin: 25px 5px;
                }
            }
        }
        .info-wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 2;
            justify-content: center;
            .info {
                color: white;
                line-height: 15px;
                margin-bottom: 20px;
                margin-left: 5%;
                @media screen and (min-width: $sm) {
                    margin-left: 0;
                }
                .address-title {
                    text-transform: uppercase;
                }
                a {
                    @include link;
                    color: white;
                }
                .address {
                    p {
                        margin-bottom: 5px;
                    }
                    .email-tel div {
                        margin-bottom: 5px;
                    }
                    .find {
                        margin: 30px 0;
                        a {
                            color: #90D1D8;
                        }
                    }
                }
            }
            .form {
                color: white;
                margin: 0 2% 25px 5%;
                @media screen and (min-width: $sm) {
                    margin: 0;
                }
                .wrapper {
                    & .col:last-child {
                        width: 100%;
                    }
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    .field {
                        border: 0px;
                        color: #555555;
                        font-size: 1.2em;
                        height: 43px;
                        line-height: 1.1em;
                        margin: 3px 0;
                        outline: 0;
                        text-indent: 3px;
                        width: 100%;
                        &.invalid {
                            border: 1px red solid;
                            color: red;
                        }
                        &.message {
                            height: 140px;
                            margin-bottom: 3px;
                            resize: none;
                        }
                        @media screen and (min-width: $sm) {
                            justify-content: space-between;;
                            width: auto;
                        }
                        @media screen and (min-width: $md) {
                            margin: 0;
                        }
                    }
                    @media screen and (min-width: $sm) {
                        justify-content: space-between;;
                        & .col {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            flex-basis: calc(50% - 3px);
                            margin: 5px 0;
                            .message {
                                margin: 0;
                            }
                        }
                    }
                    @media screen and (min-width: $md) {
                        flex-direction: row;
                    }
                    .btn {
                        width: 100%;                    
                        .send-btn {
                            background-color: rgba(65, 183, 196, 1);
                            border: 0;
                            color: white;
                            cursor: pointer;
                            float: right;
                            margin-right: 0;
                            padding: 5px 4px;
                            text-transform: uppercase;
                            }
                    }
                }
            }
        }
    }
}