@import "normalize.css";
    
$xs: 400px;

@mixin inline-va {
    display: inline-block;
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial,Helvetica,sans-serif;
}

.bold {
    font-weight: bold;
}

.block {
    display: block;
}

.sidenav {
    background-color: white;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    left: -100%;
    visibility: hidden;
    &.active {
        left: 0;
        visibility: visible;
    }
    a {
        color: #717070;
        display: block;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: sans-serif;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.3s;
    }
    a:hover {
        color: #f1f1f1;
    }
    .closebtn {
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

.header-container {
    position: relative;
    width: 100%;
    
    @media screen and (min-width: $xs) {
        text-align: center;
    }

    .header-text {
        @include inline-va;
        margin: 30px 0 30px 30px;
        max-width: 60%;
        text-transform: uppercase;
        
        img {
            @include inline-va;
        }
        div {
            @include inline-va;
            max-width: 75%;
            @media screen and (min-width: $xs) {
                max-width: 100%;
            }
        }
    }
    
    .menu-wrapper {
        @include inline-va;
        float: right;
        margin: 20px; 
        width: 10%;
        .menu-icon {
            border: black 1px solid;
            border-radius: 5px;
            display: inline-block;
            float: right;
            
            .wrapper {
                padding: 10px 14px;
                .bar1, .bar2, .bar3 {
                    width: 23px;
                    height: 4px;
                    background-color: #333;
                    margin: 5px 0;
                    transition: 0.4s;
                }
                &.active {
                    .bar1 {
                        transform: rotate(-45deg) translate(-5px, 6px);
                    }
                    .bar2 {
                        opacity: 0;
                    }
                    .bar3 {
                        transform: rotate(45deg) translate(-6px, -8px);
                    }
                }
                
            }

        }
    } 
}

#hero1 {
    .container {
        background-image: url('/img/hero1img.webp');
        height: 400px;
        background-position: center;
        background-size: cover;
        padding-top: 1px;
        margin-top: 1px;
        
        .shadow {
            background-color: rgba(0, 48, 91, 0.65);
            color: white;
            display: block;
            width: 95%;
            height: 65%;
            float: right;
            top: 18%;
            position: relative;
            
            .hero-title {
                font-size: 2.4em;
                margin-top: 50px;
                margin-left: 7%;
            }
            .hero-description {
                font-size: 18px;
                margin-top: 5%;
                margin-left: 7%;
                width: 80%;
            }
        }
    }
    
}